{% extends "index.html" %}

{% block main %}

{# Main Content #}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="post-title">Trending on Tweeter</h2>
                <p class="post-subtitle">
                    These are the hashtags trending on Twitter, plus some sample tweets.
                </p>

                <div id="chart_div"></div>
                <hr>
                <p>
                    <h3>Trending on twitter</h3>
                    {% for t in trend %}
                        <strong> {{ t | safe }}</strong><br>
                    {% endfor %}

                    {% for tt in trend_tweets %}
                        {{ tt | safe }}
                    {% endfor %}
                </p>
                <hr>
                <br/><br/>
                <small><em> Last updated: {{datetime_trends}} GMT</em></small>
            </div>
        </div>
    </div>

{% endblock %}
